#year .month {
	display: inline-block;
	height: 240px;
	width: 220px;
	border-radius: 5px;
	padding: 8px;
	margin: 5px;
	background-color: #FFF;
}

#year .month:hover {
	box-shadow: 2px 2px 5px rgba(0,153,204,.35);
}

#year .monthName {
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 5px;
}

#year .day_container {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#year .day_container th {
	width: 26px;
	border-top: thin solid #999;
	border-bottom: thin solid #999;
	text-align: center;
	font-weight: 600;
}

#year .day_container td {
	width: 26px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	font-weight: normal;
}

#year .day_container td:hover {
	background-color: #fff1f1;
}

#year .day_container td > button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
