#year .month {
	width: 220px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid #000;
	padding: 1px;
	margin: 5px;
	float: left;
	background-color: #F3F3F3;
}

#year .month:hover {
	box-shadow: 2px 2px 5px rgba(0,153,204,.35);
}

#year .monthName {
	margin-top: 10px;
	padding-left: 10px;
}

#year .day_container {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#year .day_container th {
	width: 26px;
	border-top: thin solid #999;
	border-bottom: thin solid #999;
	text-align: center;
	font-weight: normal;
}

#year .day_container td {
 width: 26px;
 border-bottom: thin solid #999;
 border-right: thin solid #999;
 text-align: center;
 font-weight: normal;
}

#year .day_container td:hover {
 background-color: #fff1f1;
}

#year .day_container td > button {
	border: none;
	background-color: transparent;
	margin: 0;
	padding: 0;
}
